//COLORS

$color-primary: hsl(180, 29%, 50%);
$color-neutral-background: hsl(180, 52%, 96%);
$color-neutral-filter: hsl(180, 31%, 95%);
$color-neutral-dark: hsl(180, 8%, 52%);
$color-neutral-very: hsl(180, 14%, 20%);

.jobs {
  height: 100vh;
  width: 100vw;
  background-color: $color-neutral-background;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  .header {
    height: 100px;
    .img {
      height: 100px;
      width: 100%;
      background-color: $color-primary;
    }
  }
  .filter {
    position: absolute;
    top: 65px;
    width: 100%;
    min-height: 60px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .contain-filter {
      position: relative;
      height: 100%;
      width: 70%;
      z-index: 10;
    }
  }
  .content {
    overflow-y: auto;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    .cards {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      padding-top: 3.125rem;
    }
    app-card {
      width: 70%;
      margin-top: 20px;
      .card__content {
        padding: 10px 30px;
        position: relative;
        flex-wrap: wrap;
        cursor: pointer;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        &__data {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 28px;
          img {
            width: 5.5rem;
            height: 5.5rem;
            object-fit: contain;
          }
          &__info {
            display: flex;
            flex-direction: column;
            width: 100%;
            gap: 12px;
            .title {
              display: flex;
              flex-direction: row;
              gap: 12px;
              align-items: center;
              .company {
                font-size: 15px;
                border-radius: 12px;
                font-weight: 600;
                text-align: center;
                color: $color-primary;
                padding-top: 2px;
              }
              .new {
                background-color: $color-primary;
                color: $color-neutral-background;
                padding: 6px 8px 4px 8px;
                font-size: 12px;
                border-radius: 12px;
                font-weight: 600;
                text-align: center;
              }
              .featured {
                background-color: $color-neutral-very;
                color: white;
                padding: 6px 8px 4px 8px;
                font-size: 12px;
                border-radius: 12px;
                font-weight: 600;
                text-align: center;
              }
            }
            .subtitle {
              color: $color-neutral-very;
              font-size: 18px;
              font-weight: 600;
              &:hover {
                color: $color-primary;
              }
            }
            .info {
              display: flex;
              gap: 12px;
              justify-content: flex-start;
              color: $color-neutral-dark;
              ol {
                display: flex;
                margin: 0;
                padding: 0;
                min-width: 194px;
                li {
                  width: 100%;
                  list-style-position: inside;
                  list-style-type: disc;
                }
              }
            }
          }
        }
        &__options {
          height: 100%;
          display: flex;
          align-items: center;
          gap: 12px;
          .option {
            background-color: $color-neutral-background;
            color: $color-primary;
            font-size: 15px;
            font-weight: 600;
            outline: none;
            border: none;
            padding: 0.5rem 0.75rem;
            border-radius: 6px;
            &:hover {
              color: $color-neutral-background;
              background: $color-primary;
            }
          }
        }
      }
    }
  }
  .divider {
    width: 100%;
    margin-top: 19px;
    height: 1px;
    background: #c5c5c5;
    display: none;
  }
}
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}
*::-webkit-scrollbar-thumb {
  background: #c5c5c5;
  border-radius: 4px;
  height: 4px;
  width: 4px;
}

@media (max-width: 767px) {
  .card__content__data {
    margin-top: 32px !important;
    .info {
      gap: 16px;
      font-size: 13px;
    }
    li {
      width: 69px !important;
    }
    img {
      position: absolute;
      height: 3.5rem !important;
      left: 0;
      top: -25px;
    }
    .company {
      font-size: 16px !important;
    }
  }
  .card__content__options {
    flex-wrap: wrap;
    margin-top: 14px;
    .option {
      // font-size: 11px !important;
    }
  }
  .cards {
    app-card {
      margin-top: 43px !important;
    }
  }

  .divider {
    display: block !important;
  }
}
